.concerned-author-list .title, .concerned-author-message-list .title, .my-message-list .title, .search-for-authors .title {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-top: 15px;
    /* cursor: pointer; */
}

.concerned-author-list, .concerned-author-message-list, .my-message-list, .search-for-authors {
    border: 1px solid #333333;
    border-radius: 4px;
    min-height: 80px;
    padding: 15px;
    margin-top: 20px;
}

.concerned-author-list section, .concerned-author-message-list section, .my-message-list section, .search-for-authors section {
    border: 1px solid #333333;
    border-radius: 4px;
    min-height: 50px;
}

.followd-author-box {
    /* border: 1px solid red; */
    color: blue;
}

#followd {
    cursor: pointer;
}

.message-box {
    border: 1px solid #333333;
    padding: 10px;
}


